// FOOTER =================================== //
.footer {
  background-color: $footer-bg-color;
  padding: 2rem 0;
  color: $white-color;
  a,
  i {
    color: $white-color;
  }

  &__top {
    .logo-wrapper {
      width: 4rem;
      height: 4rem;
    }
    img {
      width: 100%;
    }
  }

  &__bottom {
    margin-top: $default-margin;
  }
}
